{% extends 'base.html.twig' %}

{% block title %}Spotify-Controller{% endblock %}

{% block body %}
    <link rel="stylesheet" href="css\index.css">
    <article>
        <div id="eneterRoom">
            <form action="room" method="post">
                {% for i in 0..5 %}
                    <input type="text" class="inputCode" maxlength="1" name="inputCode{{ i }}">
                {% endfor %}
                <button>ENTER ROOM</button>
            </form>
        </div>
        <div class=Room id="createRoom">
            <a href="/create/room"><button>CREATE ROOM</button></a>
        </div>
        <div class=Room id="showRoom">
            <button>SHOW ROOM</button>
        </div>
    </article>

{% endblock %}
